<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="6Ttk9p86OxVo458P5-twqynqPDviBmT6vKysOq0-Di4" />
  <title>หน้าแรก</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='StyleLoginPag.css') }}"> <!-- CSS -->
</head>
<body>

  <!-- ฟอร์มล็อกอินครอบด้วย div เพื่อตกแต่ง -->
  <div class="login-box">
    <h1>JC888.COM</h1>
    <h2>Login</h2>

    <!-- ฟอร์มสำหรับส่งข้อมูล -->
    <form action="/login" method="POST">
      <!-- ช่องกรอกชื่อผู้ใช้ -->
      <input type="text" name="username" placeholder="Username" required>

      <!-- ช่องกรอกรหัสผ่าน -->
      <input type="password" name="password" placeholder="Password" required>

      <!-- ปุ่มล็อกอิน -->
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
